.selectionBox {
  z-index: -10;
  -webkit-transition: all;
  transition: all;
}
.selected .selectionBox {
  stroke: blue;
  opacity: 0.5;
  stroke-width:1;
}

@-webkit-keyframes pulsate {
    0% {opacity: 0.0;}
    50% {opacity: 1.0;}
    100% { opacity: 0.0;}
}
